[defaults]
# (boolean) By default Ansible will issue a warning when received from a task action (module or action plugin)
# These warnings can be silenced by adjusting this setting to False.
action_warnings = False
deprecation_warnings = False
library=./library
host_key_checking = False

inventory=inventory

[ssh_connection]
kex_algorithms = diffie-hellman-group14-sha1


# Controller gives a 403 Forbidden when attemtping to downloand from a project sync, doing this from the cli works
[galaxy]
ignore_certs = True
server_list = rh-certified_repo, community_repo

[galaxy_server.rh-certified_repo]
url=https://rhel-9-server.lab.test/api/galaxy/content/rh-certified/
token='fc348095c5f9f5e2ae1c96a71ba8362381aad8fe'

[galaxy_server.community_repo]
url=https://rhel-9-server.lab.test/api/galaxy/content/community/
token='fc348095c5f9f5e2ae1c96a71ba8362381aad8fe'
