[defaults]
# (boolean) By default Ansible will issue a warning when received from a task action (module or action plugin)
# These warnings can be silenced by adjusting this setting to False.
action_warnings=False
deprecation_warnings=False

[galaxy]
server_list = community_repo
ignore_certs = True

[galaxy_server.community_repo]
url=https://rhel-9-server.lab.test/api/galaxy/content/community/
token=05d5ab5f641afbffcb788901af3e14818c512d10