[defaults]
# (boolean) By default Ansible will issue a warning when received from a task action (module or action plugin)
# These warnings can be silenced by adjusting this setting to False.
action_warnings = False
deprecation_warnings = False

inventory=inventory


# Controller gives a 403 Forbidden when attemtping to downloand from a project sync, doing this from the cli works
[galaxy]
ignore_certs = True
server_list = rh-certified_repo, community_repo

[galaxy_server.rh-certified_repo]
url=https://rhel-9-server.lab.test/api/galaxy/content/rh-certified/
token='d80e87b58d35f5eec750d0adccbda4316b081b60'

[galaxy_server.community_repo]
url=https://rhel-9-server.lab.test/api/galaxy/content/community/
token='d80e87b58d35f5eec750d0adccbda4316b081b60'
