<html>
<body>

  <p align=center><img src='https://getvectorlogo.com/wp-content/uploads/2019/01/red-hat-ansible-vector-logo.png' align=center width='920'>
  <h1 align=center>{{ inventory_hostname }} --- {{ webserver_msg | default("Welcome to the Webserver") }}</h1>

</body>
</html>