- name: Connect to terminal server
  hosts: all
  gather_facts: false

  vars:
    manegement_address: ''
    manegement_subnet: ''
    gateway: ''
    device_hostname: ''
    manegement_port: ''
    dns_domain: ''

  tasks:
    - name: Test
      opengear_con:
        opengear_host: "{{ inventory_hostname }}"
        opengear_user: "{{ ansible_user }}"
        opengear_password: "{{ ansible_password }}"
        port: 10
        commands:
          - 'hostname {{ device_hostname }}'
          - 'interface {{ manegement_port }}'
          - 'ip address {{ manegement_address }} {{ manegement_subnet }}'
          - 'no shutdown'
          - 'exit'
          - 'ip route 0.0.0.0 0.0.0.0 {{ gateway }}'
          - 'ip domain-name {{ dns_domain }}'
          - 'username {{ network_user }} secret {{ network_password }}'
          - 'enable secret {{ network_password }}'
          - 'line vty 0 15'
          - 'login local'
          - 'transport input ssh'
          - 'exit'
          - 'crypto key generate rsa modulus 4096'
          - 'do wr'
      when: inventory_hostname == 'ubuntu1.lab.test'
      connection: local
