- name: Check Application State
  hosts: "{{ survey_name }}"

  tasks:
    - name: Check that you can connect (GET) to a page and it returns a status 200
      ansible.builtin.uri:
        url: "http://{{ ansible_host }}:80"
    
    - name: Send artifact to slack
      ansible.builtin.set_stats:
        data:
          artifact:
            msg: "EC2 Instance successfully deployed!!"
            ip: "{{ ansible_host }}"
            host: "{{ survey_name }}"
            image_id: "{{ image_id }}"
            instance_id: "{{ instance_id }}"

